<head>
  <style type="text/css">
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        height: 600px;
      }
      .imgContainer {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 30px;
      }
      .imgContainer > img {
      }
      form {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;
      }
      .title {
        color: #333333;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: Arial, Helvetica, sans-serif;
      }
      .subTitle {
        color: grey;
        font-family: Arial, Helvetica, sans-serif;
        width: 60%;
        text-align: center;
      }
      #button {
        background-color: #fbdc42;
        border-radius: 25px;
        width: 200px;
        height: 50px;
        margin-top: 25px;
        color: #333333;
        font-size: 16px;
        font-weight: bold;
        border: none;
        outline: none;
      }
      .password-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        color: grey;
        font-family: Arial, Helvetica, sans-serif;
      }
      .password-input > input {
        margin-top: 5px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid;
        outline: none;
        width: 200px;
      }
      #values {
        font-size: 12px;
        color: #dd3921;
        font-family: Arial, Helvetica, sans-serif;
      }
      #successLog {
        font-size: 12px;
        color: green;
        font-family: Arial, Helvetica, sans-serif;
      }
      #token{
        font-size: 0.1px;
        color: transparent;

      }
      #loader{
        display: none;
      }
      #loader > img {
        height: 50px;
    width: 90px;
      }
  </style>
</head>

<section class="container">
  <div class="imgContainer">
    <img
      src="https://s3.eu-central-1.amazonaws.com/www.brosweb.co/2.png"
      alt=""
    />
  </div>
  <form id="resetForm" name="resetForm" action="<%= redirectUrl %>" method="post">
    <p class="title">Password reset form</p>
    <p class="subTitle">
      Create a new password that is at least 6 characters long. A strong
      password is combination of letters, numbers, and punctuation marks.
    </p>
    <div class="password-input">
      <label for="password">New password:</label>
      <input type="password" name="newPassword" id="newPassword" />
    </div>
    <div class="password-input">
      <label for="confirmation">Confirm new password:</label>
      <input
        onchange="updateValue()"
        type="password"
        name="confirmation"
        id="confirmation"
      />
    </div>
    <p id="values"></p>
    <p id="successLog"></p>

    <div>
      <button id="button" type="button" onclick="submitForm()">
        <p id="button-text">Reset password</p> 
      </button>
      <div id="loader"><img src="https://s3.eu-central-1.amazonaws.com/www.brosweb.co/loading.gif" alt=""></div>
    </div>
  </form>
</section>
<script>
 var input = document.getElementById("confirmation");
      const log = document.getElementById("values");
      const successLog = document.getElementById("successLog");
      input.addEventListener("input", updateValue);
      log.textContent = "";

      async function submitForm (evt) {
        var newPassword = document.getElementById("newPassword").value;
        var confirmation = document.getElementById("confirmation").value;
        if (!newPassword || !confirmation) {
          log.textContent = "Your must fill in all of the fields!";
          return false;
        }
        if (newPassword !== confirmation) {
          log.textContent = "Passwords don't match";
          return false;
        }
        if (newPassword.length < 6 || confirmation.length < 6) {
          log.textContent = "Your password must be at least 6 characters!";
          return false;
        }
        if (newPassword === confirmation) {
          var url = window.location.origin + "/api/Clients" + window.location.pathname + window.location.search;
          document.getElementById('button').style.display = 'none';
          document.getElementById('loader').style.display = 'block';
          log.textContent = '';
          const body = 'newPassword=' + newPassword;
          const options ={
                method: 'POST',
                headers: {
                  'Content-Type': 'application/x-www-form-urlencoded',
                },
		      body,
        	};
          const response = await fetch(url, options)
          if(response.ok){
            successLog.textContent = "Password was reset!";
            document.getElementById("newPassword").value = '';
            document.getElementById("confirmation").value = '';
            document.getElementById('loader').style.display = 'none';
          } else {
            'Error! Try to request link one more time!'
          }
          // document.getElementById("resetForm").submit();
        }
      }
</script>